:root {
    --clr-secondary: hsl(211, 36%, 53%);
    --clr-tertiary: rgb(201, 111, 111);
    --clr-primary: rgb(146, 141, 141);
}

body {
    background: var(--clr-primary);
    font-family: sans-serif;
}

.navbar {
    height: 2rem;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.25rem;
}

.table-header {
    position: relative;
    left: 43.75%;
}

table {
    width: 100%;
    border: 1px solid black;
}

td {
    text-align: center;
    inline-size: 33%;
}